body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
    min-width: 1100px;
}

h1 {
    text-align: center;
}

#gameButtons {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    background-color: rgb(21, 189, 15);
    border: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

#board, #tile-holder{
    margin: auto;
    text-align: center;
}

#data {
    border: 2.5px solid black;
    border-radius: 4px;
    background-color: whitesmoke;
    width: 30%;
    margin: auto;
}

#data p {
    padding-left: 10%;
}

.tile-image {
    width: 65px;
    height: 65px;

    right: auto;
    bottom: auto;
    border-radius: 4px;

    position: relative;
}

.tile-hover {
    border: 2px solid blue;
}

/* .draggable {
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    background-color: #D0D0D0;
    z-index: 999;
  } */

.droppable {
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    background-color: green;
    position: relative;
}

.ui-state-active {
    border: 1px solid green;
}

.tile-on-rack {
    width: 65px;
    height: 65px;
    margin: 27px 5px 0px 5px;
}

#tile-holder {
    width: 660px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../graphics_data/scrabble-tile-holder-406774_640.png');
    background-repeat: no-repeat;
}

.boardSlot {
    border: 2.5px solid black;

    width: 72px;
    height: 72px;

    float: left;
}

#tile-holder img {
    margin: auto;
}

#tradeLetter {
    border: 2.5px solid black;
    border-radius: 4px;
    background-color: rgb(122, 34, 34);
    width: 30%;
    margin: auto;
    text-align: center;
    color: white
}